.loading-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    margin-bottom:20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading {
    text-align: center;
    font-size: 30px;
    color: #3498db;
  }
  
  .loading .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 0 5px;
  }
  .loading .dot:nth-of-type(1){
    animation: moveDot1 1.5s linear infinite;
    animation-delay: 0s;
  }
  .loading .dot:nth-of-type(2){
    animation: moveDot2 1.5s linear infinite;
    animation-delay: 1s;
  }
  .loading .dot:nth-of-type(3){
    animation: moveDot3 2s linear infinite;
    animation-delay: 3s;
  }
  @keyframes moveDot1{
    0%,100%{
      transform: translateY(0);
    }
    25%{
      transform: translateY(-7px);
    }
    50%{
      transform: translateY(-10px);
    }
    75%{
      transform: translateY(-7px);
    }
  }
  @keyframes moveDot2{
    0%,100%{
      transform: translateY(0);
    }
    25%{
      transform: translateY(-6px);
    }
    50%{
      transform: translateY(-9px);
    }
    75%{
      transform: translateY(-6px);
    }
  }
  @keyframes moveDot3{
    0%,100%{
      transform: translateY(0);
    }
    25%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(-8px);
    }
    75%{
      transform: translateY(-5px);
    }
  }