.circular-progress-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circular-progress {
  width: 100%;
  height: 100%;
  background: conic-gradient(#007bff 0% 0%, transparent 0% 100%);
  border-radius: 50%;
}
.au{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px   ;
}

body{height: 1000px;}